#Carpetas que no deben subirse al repositorio
data/
artifacts/
results/

#Archivos temporales python
__pycache__/
*.pyc

#Checkpoints de Jupyter
.ipynb_checkpoints/

#Entornos virtuales
.env
.venv/
venv/

#Archivos del sistema
.DS_Store

#Papeleras de Jupyter
.Trash-*/
.Trash-*

#Archivos temporales del sistema
*status
*.tmp
*.temp
*.swp
*.swo

#Logs adicionales
*.log
