# ==================================================
# JUPYTER / IPYTHON (basura local, en cualquier nivel)
# ==================================================
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.Trash-*/
.Trash-*

# ==================================================
# DATASET (estrategia académica)
# ==================================================
# NO versionar datos crudos pesados
data/raw/

# Sí versionar datos procesados
!data/processed/

# Ignorar basura interna de data
data/**/.ipynb_checkpoints/
# ==================================================
# PYTHON
# ==================================================
__pycache__/
*.py[cod]
*$py.class

# ==================================================
# ENTORNOS VIRTUALES
# ==================================================
.env
.venv/
venv/

# ==================================================
# SISTEMA / TEMPORALES
# ==================================================
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.temp
*~
*status

# ==================================================
# LOGS
# ==================================================
*.log
